/*hide table borders*/
entry-content table > thead > tr > th, 
.entry-content table > tbody > tr > th, 
.entry-content table > tfoot > tr > th, 
.entry-content table > thead > tr > td, 
.entry-content table > tbody > tr > td, 
.entry-content table > tfoot > tr > td {
    border: 0px;
}

.no-border {
	border:0px;
}

/*adjust header elements*/
.main-navigation {
	padding-top:10px;
}

.site-title {
	font-family:"Georgia", serif;
	font-weight:bold;
	font-size:3.5vw;
}

/*configure layout of descriptions for links*/
.link-description-cell {
	white-space:nowrap;
}

.link-description-div {
	margin:25px;
	padding-bottom: 25px;
	border-bottom:1px;
}

.link-description {
	border-top: 1px solid;
}

/*center content area*/
.content-area {
width: 100% !important;
max-width: 100% !important;
margin: 0 auto !important;
float: none !important;
}
.entry .entry-content > *, 
.entry .entry-summary > * {
    max-width: none;
}

/*color the site header*/
.site-header {
	background-color: #55ddff;
}
/*not sure if this actually works*/
.main-navigation-container {
	max-width: none !important;
}

/*modify each item in the navigation menu*/
.menu-item {
	background-color: #191960;
  border: 1px solid;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius:7.5%;
}
.menu-item-has-children {
	background-color: #55ddff;
	border:0px;
}

/*format the links into a circle*/
.circle-container-outer {
	position: relative;
	width: 30em;
	height: 30em;
	padding: 0em;
	/*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
	border: solid 1px;
	border-radius: 50%;
	background-color:white;
}
.circle-container {
	position: relative;
	width: 15em;
	height: 15em;
	padding: 0em;
	border: dashed 1px;
	border-radius: 50%;
	margin: 7.25em auto 0;
	background-color:white;
}
.circle-container a {
	display: block;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em;
}
.circle-container img { display: block; width: 100%; }

/*cover each angle*/
.deg0 { 
	transform: translate(11em);
	white-space: pre; 
	text-align: justify;} 

.deg45 { 
	transform: rotate(45deg) translate(11em) rotate(-45deg);
	white-space: pre;
	padding:20px;
}

.deg90 { 
	transform: rotate(90deg) translate(11em) rotate(-90deg);
	padding:20px;
	text-align: center;
}

.deg135 { transform: rotate(135deg) translate(11em) rotate(-135deg);
	padding:20px;
}

.deg180 { 
	transform: translate(-11em);
	padding:20px;
	text-align: justify;
}

.deg225 { transform: rotate(225deg) translate(11em) rotate(-225deg); 
	padding:30px;
	white-space:pre;
}

.deg270 { transform: rotate(270deg) translate(11em) rotate(-270deg); 
	padding:25px;
	white-space:pre;
}

.deg315 { transform: rotate(315deg) translate(11em) rotate(-315deg); 
	padding:30px;
	white-space:pre;}

.text {text-align: center;}